@font-face {
  font-family: PTSans;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2"), url("../fonts/ptsans.woff"); }

@font-face {
  font-family: PTSans;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff"); }

.main-nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0; }

.main-nav {
  width: 320px;
  margin-left: auto;
  margin-right: auto; }

.page-header__picture,
.page-header__icon {
  width: 102px;
  height: 83px;
  margin-left: 34%; }

.page-header__icon {
  margin-left: 0; }

.main-nav__item {
  display: block;
  padding: 20px 0 18px 0;
  list-style-type: none;
  background-color: #81b3d2;
  width: 100%;
  height: 20px;
  text-transform: uppercase;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  line-height: 12px;
  height: 14px; }
  .main-nav__item--details {
    border-top: 0; }

.main-nav__item:hover {
  background-color: #669ec0; }

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-align: center;
  text-decoration: none;
  width: auto; }

.main-nav__item:active .main-nav__link {
  color: rgba(255, 255, 255, 0.3); }

.page-header__logo {
  width: 320px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white; }

.page-header__button {
  display: inline-block;
  margin-top: 17px;
  margin-left: 20%;
  width: 23px;
  height: 21px;
  overflow: hidden;
  background: url("../img/icon-menu.png") 0 0;
  background-size: 100% 100%;
  padding: 0;
  border: 0; }

.main-nav__link--details {
  font-size: 18px;
  font-weight: 700;
  line-height: 11px;
  height: 12px;
  color: white;
  text-decoration: none;
  position: relative;
  top: 0;
  margin-left: 38%; }

.main-nav__button--details {
  border: 0;
  width: 23px;
  height: 22px;
  padding: 0;
  margin-left: 25%;
  position: relative;
  top: -4px; }

.page-header__painting {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0); }

.main-nav__item--trivia {
  border-bottom: 0; }

.main-nav__link--trivia {
  margin-left: 30%; }

.main-nav__link--position {
  margin-left: 29%; }

.main-nav__link--disposition {
  margin-left: 30%; }

.page-header__link {
  margin-left: 34%; }

.main-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../img/intro-triangle_1.png") 0 0;
  background-size: 100% 100%;
  width: 320px;
  height: 158px;
  overflow: hidden; }

.main-banner__picture-text,
.main-banner__picture {
  display: block;
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto; }

.main-banner__picture {
  width: 229px;
  height: 39px; }

.main-banner__picture-text {
  width: 229px;
  height: 39px;
  margin-top: 52px; }

.greeting__picture-text {
  display: block;
  width: 282px;
  height: 214px;
  margin-left: auto;
  margin-right: auto; }

.greeting__wrapper {
  display: block;
  width: 320px;
  height: 389px;
  margin-left: auto;
  margin-right: auto;
  background: url("../img/intro-triangle.png");
  background-size: 100% 100%;
  overflow: hidden; }

.greeting__picture-text {
  margin-top: 90px; }

.information-city__headline {
  margin-top: 43px;
  line-height: 26px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-align: center;
  text-transform: uppercase; }

.information-city__text, .best-offers__text {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase; }

.information-city__wrapper {
  background-color: white;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: hidden; }

.advantage__headline, .features__headline,
.modal__headline {
  margin-top: 27px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 12px;
  height: 14px; }

.advantage__headline, .features__headline {
  margin-top: 59px; }

.advantage__number {
  margin-top: 18px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-bottom: 0;
  line-height: 10px; }

.advantage__text, .features__number,
.features__text,
.modal__text {
  margin-top: 21px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 26px; }

.advantage__text, .features__number,
.features__text {
  color: white; }

.advantage__wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.advantage__reasons {
  width: 320px;
  background: url("../img/blue.png"); }

.advantage__picture {
  width: 320px;
  height: 260px;
  overflow: hidden;
  background: url("../img/city_1x.jpg") 0 0;
  background-size: 100% 100%; }

.advantage__reasons--details {
  background: #eeeeee;
  width: 280px;
  margin-left: auto;
  margin-right: auto; }

.advantage__wrapper--details {
  max-width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto; }

.advantage__reasons--line {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6; }

.advantage__headline--details {
  margin-top: 33px; }

.advantage__wrapper--details {
  width: 320px;
  background-color: #eeeeee; }

.offers__headline, .photo__headline, .photo__info {
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 10px; }

.offers__text {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-align: left;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 25px; }

.offers__reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .offers__reasons--position {
    margin-top: 22px; }

.offers__reasons-icon {
  width: 39px;
  background-size: 39px 37px; }

.offers__icon--proptions-housing {
  width: 39px;
  height: 37px; }

.offers__icon--proptions {
  width: 32px;
  height: 38px; }

.offers__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  width: 100%;
  max-width: 1012px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-bottom: 42px; }

.offers__reasons-icon--housing {
  margin-right: 9px; }

.offers__reasons-icon--souvenirs {
  margin-right: 13px; }

.offers__reasons-icon--food {
  margin-right: 12px; }

.offers__wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: white; }

.offers__reasons-icon--specialty-housing,
.offers__reasons-icon--specialty-souvenirs,
.offers__reasons-icon--specialty-food {
  margin-right: 30px; }

.features {
  overflow: hidden; }

.features__headline {
  margin-left: auto;
  margin-right: auto;
  width: 214px;
  margin-top: 39px; }

.features__number {
  width: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px; }

.features__text {
  width: 281px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px; }

.features__reasons-text {
  width: 320px;
  height: 191px;
  background-color: #81b3d2;
  overflow: hidden; }

.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  margin-left: auto;
  margin-right: auto; }

.features__reasons {
  width: 320px;
  height: 260px;
  overflow: hidden;
  background: url("../img/hill_1x.png") 0 0;
  background-size: 100% 100%; }

.modal {
  overflow: hidden; }

.modal__headline {
  font-size: 21px;
  text-align: center;
  line-height: 15px;
  height: 15px;
  margin-top: 0; }

.modal__text {
  width: 296px;
  text-align: center;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 0;
  height: 67px; }

.modal__button {
  font-family: PTSans, "Arial", sans-serif;
  font-size: 21px;
  heigth: 58px;
  line-height: 23px;
  color: white;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 0;
  padding: 17px 47px 19px 47px;
  background-color: #81b3d2; }

.modal__button:hover {
  background-color: #669ec0; }

.modal__button:active {
  background-color: #5496bd; }

.modal__Interested {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 33px;
  padding-bottom: 49px;
  background-color: white; }

.page-footer__item {
  display: block;
  width: 47px;
  height: 48px;
  background-color: #81b3d2;
  overflow: hidden; }

.page-footer__info {
  width: 100%;
  text-align: center;
  margin-top: 41px; }

.page-footer__info:nth-of-type(2),
.page-footer__info:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.page-footer__wrapper:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.footer__icon-active {
  display: none; }

.page-footer__item:hover {
  background-color: #669ec0; }

.page-footer__item:active {
  background-color: #5496bd; }

.page-footer {
  overflow: hidden; }

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  background-color: white;
  margin-left: auto;
  margin-right: auto; }

.page-footer__text {
  font-size: 21px;
  font-weight: 700;
  line-height: 16px;
  height: 15px;
  color: black;
  margin: 0; }

.page-footer__item:first-child {
  margin-left: auto; }

.page-footer__item:last-child {
  margin-right: auto; }

.page-footer__item:nth-child(2) {
  margin-left: 6px;
  margin-right: 6px; }

.footer__text {
  margin-bottom: 42px;
  line-height: 17px; }

.page-footer__copyright {
  margin-top: 11px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 23px; }

.page-footer__copyright {
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-align: left; }

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 41px; }

.page-footer__link {
  width: auto;
  height: auto; }

.page-footer__link--htmlacademy {
  width: 27px;
  height: 34px;
  background: url("../../img/htmlacademy.png"); }

.page-footer__icon {
  width: 27px;
  height: 34px;
  background: url("../../img/academy.svg") no-repeat 0 0;
  background-size: 100% 100%; }

.best-offers__headline {
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-align: center;
  margin-top: 44px;
  text-transform: uppercase;
  line-height: 12px;
  height: 14px; }

.best-offers__text {
  font-size: 14px;
  line-height: 24px;
  margin-top: 19px;
  margin-bottom: 33px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 459px;
  height: 40px;
  margin-bottom: 33px; }

.best-offers__wrapper {
  min-width: 320px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.best-offers,
.best-offers__wrapper {
  overflow: hidden; }

.photo__wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  overflow: hidden; }

.photo__benefits {
  width: 320px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
  border-top: 1px solid #e5e5e5; }
  .photo__benefits--last {
    border-bottom: 1px solid #e5e5e5; }

.photo__picture {
  display: block;
  width: 280px;
  height: 280px;
  margin: 0; }

.photo__headline, .photo__info {
  display: block;
  font-size: 14px;
  margin-top: 22px;
  line-height: 13px;
  margin-left: 19px; }

.photo__info {
  font-weight: 400;
  margin-top: 11px;
  line-height: 10px;
  color: #333333;
  height: 13px;
  text-transform: capitalize; }

.photo__button {
  display: inline-block;
  width: 23px;
  height: 21px;
  padding: 0;
  background-color: black;
  background-image: url("img/like-icon.svg");
  background-size: 100% 100%;
  border: 0;
  margin-top: 7px;
  margin-left: 19px;
  margin-bottom: 21px;
  position: relative; }

.photo__button-img {
  width: 100%;
  height: 100%; }

.photo__likes {
  display: inline-block;
  position: relative;
  margin-top: 2px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-align: left;
  line-height: 12px;
  height: 11px; }

.photo__link {
  display: block;
  width: 280px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto; }

body {
  font-family: PTSans, Arial, sans-serif;
  font-weight: 400;
  background-color: white; }

/*# sourceMappingURL=style.css.map */
