.advantage__headline,
.modal__headline {
  margin-top: 27px;
  @include font(18px, 700, white, center);
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 12px;
  height: 14px;
}

.advantage__headline,
.features__headline {
  margin-top: 59px;
  color: white;
}

.advantage__number {
  margin-top: 18px;
  @include font(14px, 400, white, center);
  margin-bottom: 0;
  line-height: 10px;
}

.advantage__number--details {
  color: #333333;
}

.advantage__text,
.modal__text,
.features__number,
.features__text {
  margin-top: 21px;
  @include font(14px, 400, white, center);
  line-height: 21px;
  text-transform: uppercase;
  margin-botton: 26px;
}

.advantage__wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  display: flex;
  flex-direction: column;
}

.advantage__reasons {
  width: 320px;
  background-color: #81b3d2;
}

.advantage__picture {
  @include size_background(320px, 260px, "../img/city_1x.jpg");
}

.advantage__reasons--details {
  background: #eeeeee;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.advantage__wrapper--details {
  max-width: 320px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.advantage__reasons--line {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.advantage__headline--details {
  margin-top: 33px;
  color: black;
}

.advantage__wrapper--details {
  width: 320px;
  background-color: #eeeeee;
}

.advantage__text--details {
  color: #333333;
}
