.advantage {
  overflow: hidden;
}

.advantage__block:nth-of-type(2) {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
.advantage__wrapper
{
    display:flex;
    flex-direction:row;
    width:100%;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
}
.advantage__block {
  height: 167px;
  margin-left:auto;
  margin-right:auto;
}

.advantage__headline {
  text-align: center;
  @extend .offers__headline;
}

.advantage__number {
  margin-top: 13px;
  text-align: center;
}

.advantage__text,
.modal__text {
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.advantage__text {
  @extend .offers__text;
  line-height: 24px;
    text-transform: uppercase;
}

.advantage__text:nth-of-type(1) 
{
  width: 287px;
}
 
.advantage__headline {
    display: block;
    margin-top: 27px;
    min-width: 138px;
}

.advantage__text:nth-of-type(3) 
{
  width: 246px;
}
.advantage__block {
  @include block-color($Screen-size*1px, 167px, #eeeeee);
}
