.benefits__headline,
.modal__headline {
  margin-top: 27px;

  @include font(18px, 700, #ffffff, center);
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 12px;
  height: 14px;
}

.benefits__headline,
.benefits__head {
  margin-top: 59px;
  color: #ffffff;
}

.benefits__number {
  margin-top: 18px;

  @include font(14px, 400, #ffffff, center);
  margin-bottom: 0;
  line-height: 10px;
}

.benefits__number--details {
  color: #333333;
}

.benefits__text,
.modal__text,
.benefits__room,
.benefits__proposal {
  margin-top: 21px;

  @include font(14px, 400, #ffffff, center);
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.benefits__wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.benefits__reasons {
  width: 320px;
  background-color: #81b3d2;
}

.benefits__picture {
  width: 320px;
  height: 260px;
  background: url("../img/city_1x.jpg");
}

.benefits__reasons--details {
  background: #eeeeee;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.benefits__wrapper--details {
  width: 320px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
}

.benefits__reasons--line {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.benefits__headline--details {
  margin-top: 33px;
  color: #000000;
}

.benefits__text--details {
  color: #333333;
}

.benefits__text {
  width: 273px;
  margin-left: auto;
  margin-right: auto;
}
