.attractions {
  background-color: white;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 21px;
  border-top: 1px solid #e5e5e5;
}

.attractions__heading {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 26px;
  width: 234px;
  height: 47px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  text-align: center;
}

.attractions__checkbox {
  display: none;
}

.attractions__line {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  line-height: 8px;
  height: 11px;
  margin-left: 25px;
}

.attractions__text::before {
  display: block;
  content: "";
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
}

.attractions__checkbox:checked + .attractions__text::before {
  display: block;
  content: "";
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.attractions__text::before:hover {
  display: block;
  content: "";
  background-color: #e5e5e5;
}

.attractions__checkbox:checked + .attractions__text::before:active {
  background-image: url("../img/tick_hover.png");
}

.attractions__text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.attractions__block {
  margin: 0 auto;
  margin-top: 24px;
  width: 280px;
  height: 56px;

  &--bridge {
    margin-top: 17px;
  }
}

.attractions__row {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  width: 320px;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .attractions {
    width: 100%;
    max-width: 1200px;
    border: 0;
  }

  .attractions__wrapper {
    border-top: 1px solid #dbdbdb;
  }

  .attractions__block {
    width: 41%;
    margin-left: 0;
    margin-right: 0;

    &--bridge,
    &--mountain {
      margin-top: 45px;
    }

    &--mountain {
      margin-left: 89px;
    }

    &--rocks {
      margin-left: 105px;
    }
  }

  .attractions__row {
    width: 60%;
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .attractions__row {
    width: 960px;
  }

  .attractions__block {
    width: 199px;
  }
}
