.benefits {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.benefits__headline {
  @include font(18px, 700, #ffffff, center);
  text-transform: uppercase;
  margin-top: 59px;
  margin-bottom: 0;
  line-height: 19px;
}

.benefits__number {
  margin-top: 18px;

  @include font(14px, 400, #ffffff, center);
  margin-bottom: 0;
  line-height: 10px;
}

.benefits__number--details {
  color: #333333;
}

.benefits__text,
.benefits__room,
.benefits__proposal {
  @include font(14px, 400, #ffffff, center);
  line-height: 21px;
  text-transform: uppercase;
}

.benefits__reasons {
  width: 320px;
  background-color: #81b3d2;
  background-image: url("../img/triangle.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 37px;
}

.benefits__picture {
  width: 320px;
  height: 260px;
  background: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.benefits__reasons--details {
  background: #eeeeee;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.benefits__wrapper--details {
  width: 320px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
}

.benefits__headline--details {
  margin-top: 33px;
  color: #000000;
}

.benefits__text--details {
  color: #333333;
  width: 121px;
}

.benefits__text {
  width: 273px;
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
}

.benefits__heading {
  @include font(18px, 700, #000000, left);
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 10px;
  font-family: "Myriad Pro", "Arial", sans-serif;
}

.benefits__sentence {
  font-family: "Myriad Pro", "Arial", sans-serif;

  @include font(14px, 400, #333333, left);
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 25px;

  &--last {
    width: 201px;
    height: 57px;
    padding-bottom: 42px;
  }
}

.benefits__reasons--position,
.benefits__reasons--disposition {
  padding-top: 22px;
  display: flex;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  background-color: #ffffff;
}

.benefits__reasons-text {
  width: 100%;
  background-size: 39px 37px;

  &--housing {
    margin-right: 9px;
  }

  &--souvenirs {
    margin-right: 13px;
  }

  &--food {
    margin-right: 12px;
  }
}


.benefits__reasons-icon--specialty-housing,
.benefits__reasons-icon--specialty-souvenirs,
.benefits__reasons-icon--specialty-food {
  margin-right: 13px;
  margin-left: 21px;
}

.benefits__head {
  margin-left: auto;
  margin-right: auto;
  width: 143px;
  font-size: 18px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.benefits__room {
  margin-left: auto;
  margin-right: auto;
  line-height: 10px;
  font-family: "Arial", sans-serif;
  margin-bottom: 26px;
}

.benefits__proposal {
  width: 281px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.benefits__reasons-sentence {
  width: 320px;
  padding-top: 45px;
  padding-bottom: 39px;
  background-color: #81b3d2;
}

.benefits__reasons-painting {
  width: 320px;
  height: 260px;
  background: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 334px 343px;
  background-position: -15px -84px;
}

.benefits__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: #eeeeee;
  max-width: 1200px;
}

.benefits__wrap {
  max-width: 1200px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.benefits__icon--proptions {
  width: 40px;
  height: 35px;
}

.benefits__reasons--details:nth-child(1),
.benefits__reasons--details:nth-child(2) {
  border-bottom: 1px solid #d6d6d6;
}

@media (max-width: 767px) and (min-resolution: 2dppx) {
  .benefits__picture {
    background-image: url("../img/main-city-mobile@1x.jpg");
  }

  .benefits__reasons-painting {
    background-image: url("../img/main-bridge-mobile@2x.jpg");
    background-size: 100%;
    background-position: 0;
  }
}

@media (min-width: 768px) {
  .benefits__wrapper {
    flex-direction: row;
    width: 100%;
    background-color: #ffffff;

    &--details {
      background-color: #eeeeee;
    }
  }

  .benefits__wrap {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .benefits__reasons-painting {
    width: 67%;
    height: 256px;
    background-repeat: no-repeat;
    background-image: url("../img/main-bridge-tablet@1x.jpg");
    background-size: 100% 100%;
    background-position: 0 0;
  }

  .benefits__reasons-sentence {
    width: 33%;
    height: 211px;
    padding-bottom: 0;
  }

  .benefits__picture {
    width: 67%;
    background-image: url("../img/main-city-tablet@1x.jpg");
  }

  .benefits__reasons {
    width: 33%;
    flex-direction: column;
    background-position: 0 300px;
  }

  .benefits__reasons-icon {
    margin-right: 0;
    margin-left: 0;
  }

  .benefits__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 72px;
    height: 72px;
  }

  .benefits__heading,
  .benefits__sentence {
    text-align: center;
  }

  .benefits__sentence--last {
    margin-left: auto;
    margin-right: auto;
    width: 176px;
  }

  .benefits__heading {
    font-size: 21px;
  }

  .benefits__sentence {
    width: 177px;
    margin-left: auto;
    margin-right: auto;
  }

  .benefits__reasons--disposition {
    order: 1;
  }

  .benefits__sentence--souvenirs {
    width: 180px;
  }

  .benefits__headline {
    font-size: 21px;
    line-height: 26px;
    width: 121px;
    margin-left: auto;
    margin-right: auto;
  }

  .benefits__head {
    font-size: 21px;
    text-align: center;
    width: 167px;
  }

  .benefits__proposal {
    width: 175px;
  }

  .benefits__reasons--details:nth-child(1),
  .benefits__reasons--details:nth-child(2) {
    border-bottom: 0;
  }

  .benefits__text {
    width: 171px;
  }

  .benefits__text--details {
    color: #333333;
    width: 158px;
  }
}

@media (min-width: 768px) and (min-resolution: 2dppx) {
  .benefits__reasons-painting {
    background-image: url("../img/main-bridge-tablet@2x.jpg");
  }

  .benefits__picture {
    background-image: url("../img/main-city-tablet@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .benefits__reasons-painting {
    background-image: url("../img/main-bridge-desktop@1x.jpg");
    background-position: 0 0;
    background-size: 100% 100%;
  }

  .benefits__picture {
    background-image: url("../img/main-city-desktop@1x.jpg");
  }
}

@media (min-width: 1200px) and (min-resolution: 2dppx) {
  .benefits__reasons-painting {
    background-image: url("../img/main-bridge-desktop@1x.jpg");
  }

  .benefits__picture {
    background-image: url("../img/main-city-desktop@2x.jpg");
    background-position: 0 -52px;
    background-size: 100% 312px;
  }
}
