.benefits {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.benefits__headline {
  @include font(18px, 700, #ffffff, center);
  text-transform: uppercase;
  margin-top: 59px;
  margin-bottom: 0;
  line-height: 19px;
}

.benefits__number {
  margin-top: 18px;
  @include font(14px, 400, #ffffff, center);
  margin-bottom: 0;
  line-height: 10px;
}

.benefits__number--details {
  color: #333333;
}

.benefits__text,
.benefits__room,
.benefits__proposal {
  @include font(14px, 400, #ffffff, center);
  line-height: 21px;
  text-transform: uppercase;
}

.benefits__reasons {
  width: 320px;
  background-color: #81b3d2;
}

.benefits__picture {
  width: 320px;
  height: 260px;
  background: url("../img/city_1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.benefits__reasons--details {
  background: #eeeeee;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.benefits__wrapper--details {
  width: 320px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
}

.benefits__headline--details {
  margin-top: 33px;
  color: #000000;
}

.benefits__text--details {
  color: #333333;
}

.benefits__text {
  width: 273px;
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;
}

.benefits__heading {
  @include font(18px, 700, #000000, left);
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 10px;
  font-family: "Myriad Pro", "Arial", sans-serif;
}

.benefits__sentence {
  font-family: "Myriad Pro", "Arial", sans-serif;

  @include font(14px, 400, #333333, left);
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 25px;

  &--last {
    width: 201px;
    height: 57px;
    padding-bottom: 42px;
  }
}

.benefits__reasons--position,
.benefits__reasons--disposition {
  padding-top: 22px;
  display: flex;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  background-color: #ffffff;
}


.benefits__reasons-text {
  width: 100%;
  background-size: 39px 37px;

  &--housing {
    margin-right: 9px;
  }

  &--souvenirs {
    margin-right: 13px;
  }

  &--food {
    margin-right: 12px;
  }
}


.benefits__reasons-icon--specialty-housing,
.benefits__reasons-icon--specialty-souvenirs,
.benefits__reasons-icon--specialty-food {
  margin-right: 13px;
  margin-left: 25px;
}

.benefits__head {
  margin-left: auto;
  margin-right: auto;
  width: 143px;
  font-family: "Myriad Pro", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.benefits__room {
  margin-left: auto;
  margin-right: auto;
  line-height: 10px;
  font-family: "Arial", sans-serif;
  margin-bottom: 26px;
}

.benefits__proposal {
  width: 281px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Myriad Pro", "Arial", sans-serif;
  margin-bottom: 0;
}

.benefits__reasons-sentence {
  width: 320px;
  padding-top: 45px;
  padding-bottom: 39px;
  background-color: #81b3d2;
}

.benefits__reasons-painting {
  width: 320px;
  height: 260px;
  background: url("../img/hill_1x.png");
}

.benefits__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: #eeeeee;
  max-width: 1200px;
}

.benefits__wrap {
  max-width: 1200px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.benefits__icon--proptions {
  width: 40px;
  height: 35px;
}

.benefits__reasons--details:nth-child(1),
.benefits__reasons--details:nth-child(2) {
  border-bottom: 1px solid #d6d6d6;
}
