.best-offers__headline
{
  @include font(PTSans,18px,700,black,center);
  margin-top:44px;
  text-transform: uppercase;

}
.best-offers__text
{
  font-size:14px;
  line-height:24px;
  @extend .information-city__text;
  margin-top:37px;
  margin-bottom:33px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width:459px;
}
.best-offers__wrapper
{
  min-width:$Screen-size*1px;
  width:100%;
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  border-bottom:1px solid #e5e5e5;
}
.best-offers,
.best-offers__wrapper
{
  overflow: hidden;
}
.best-offers__block
{
  @extend .information-city__wrapper;
}
