.Contact-Information__wrapper {
  min-width:320px;
  width:100%;
  max-width:1200px;
  margin-left: auto;
  margin-right: auto;
  border-bottom:1px solid #e5e5e5;
  background-color:white;
  overflow: hidden;
}

.Contact-Information__headline {
  @extend .man__headline;
  margin-top: 18px;
  margin-bottom:24px;
}

.Contact-Information__text {
  @extend .man__text;
  margin-left:42*100%/320;
  display: block;
}

.Contact-Information__fields-water {
  @include block-color(222px, 58px, #f2f2f2);
  border: 0;
  margin-left:20*100%/320;
  box-sizing: border-box;
  padding-left:22px;
  width:222*100%/320;
}

.Contact-Information__button {
  display: inline-block;
  border: 0;
  position: relative;
}

.Contact-Information__button:nth-of-type(1) {
  padding: 20px 19px 18px 21px;
  top: 3px;
  left: -5px;
}

.Contact-Information__button:nth-of-type(2)
{
  padding: 23px 19px 19px 21px;
  top:2px;
  left:-5px;
  margin-bottom:28px;
}
.Contact-Information__fields-water:hover
{
  background-color:#e5e5e5;
}
.Contact-Information__fields-water:focus
{
  background-color:rgba(255,255,255,0);
}
