.features {
    overflow: hidden;
    height: 191px;
}

.features__headline {
    margin-left: auto;
    margin-right: auto;
    width: 214px;
    @extend.city__headline;
    margin-top:39px;
}


.features__number,
.features__text {
    @extend .city__text;
}

.features__number {
    width: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top:14px;
}

.features__text {
    width: 281px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:16px;
}

.features__block-text {
    @include block-color($Screen-size*1px, 191px, #81b3d2);
    margin-left: auto;
    margin-right: auto;
}

.features__wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.features__block-photo
{
    @include block_background(50px,260px,"../img/hill_1x.png");
}