.benefits__head {
  margin-left: auto;
  margin-right: auto;
  width: 214px;
  margin-top: 39px;
  font-family: "Myriad Pro", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: #ffffff;
}

.benefits__room {
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.benefits__proposal {
  width: 281px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.benefits__reasons-sentence {
  width: 320px;
  height: 191px;
  background-color: #81b3d2;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.benefits__reasons-painting {
  width: 320px;
  height: 260px;
  background: url("../img/hill_1x.png");
}
