.greeting__wrapper
{
  @include block_background($Screen-size*1px,389px,"../img/intro-triangle.png");
  margin-left:auto;
  margin-right:auto;
}
.greeting__text
{
  margin-top:90px;
  width:100%;
}
.greeting__picture-text
{
  display: block;
  width:282px;
  height:214px;
  margin-left:auto;
  margin-right:auto;
}
