.greeting__picture-text {
  display: block;
  width: 282px;
  height: 214px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

.greeting__wrapper {
  display: block;
  width: 320px;
  height: 389px;
  margin-left: auto;
  margin-right: auto;
  background: url("../img/intro-triangle.png");
  background-size: 100% 100%;
  overflow: hidden;
}
