.information-city
{
  height:223px;
}
.information-city__wrapper
{
  @include block-color($Screen-size*1px,223px,white);
  width:100%;
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}
.information-city__headline
{
  margin-top:43px;
  line-height:26px;
  @include font(Myriad Pro,18px,700,black,center);
  text-transform: uppercase;
}
.information-city__text
{
  @include font($font_Myriad-Pro,14px,400,#333333,center);
  line-height: 26px;
  text-transform: uppercase;
}
