.main-nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.main-nav {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav__item {
  display: block;
  padding: 20px 0 18px 0;
  list-style-type: none;
  background-color: #81b3d2;
  width: 100%;
  height: 14px;
  text-transform: uppercase;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  line-height: 12px;

  &--details {
    border-top: 0;
  }

  &--logo {
    width: 320px;
    height: 56px;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0;
    background-color: #ffffff;
  }
}

.main-nav__link {
  @include font(18px, 700, #ffffff, center);
  text-decoration: none;
  width: auto;
}


.main-nav__link--logo {
  margin-left: 109px;
  width: 102px;
  height: 83px;
}

.main-nav__item:active .main-nav__link {
  color: rgba(255, 255, 255, 0.3);
}

.main-nav__link--details {
  font-size: 18px;
  font-weight: 700;
  line-height: 11px;
  height: 12px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  top: 0;
  margin-left: 38%;
}

.main-nav__button--details {
  border: 0;
  width: 23px;
  height: 22px;
  padding: 0;
  margin-left: 25%;
  position: relative;
  top: -4px;
}

.main-nav__link--location {
  margin-left: 30%;
}

.main-nav__link--position {
  margin-left: 29%;
}

.main-nav__link--disposition {
  margin-left: 30%;
}

.main-nav__button {
  display: inline-block;
  margin-top: 17px;
  margin-left: 20%;
  width: 23px;
  height: 21px;
  background: url("../img/icon-menu.png");
  padding: 0;
  border: 0;
}

@media (min-width: 768px) {
  .main-nav__button {
    display: none;
  }

  .main-nav__link {
    margin-left: 0;
    font-size: 14px;
    color: black;
  }

  .main-nav__item {
    border: 0;
    background-color: #ffffff;
    text-align: center;

    &:nth-child(1) {
      width: 20%;
      order: -1;
    }

    &:nth-child(2) {
      width: 20%;
      order: -1;
    }

    &:nth-child(3) {
      width: 21%;
    }

    &:nth-child(4) {
      width: 19%;
    }

    &--logo {
      width: 20%;
      margin: 0;
      padding: 0;
      order: -1;
      height: 57px;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &--details {
      padding-bottom: 23px;
    }
  }

  .main-nav__link--logo {
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav {
    width: 100%;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .main-nav__list {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav__link--logo {
    width: 188px;
    height: 96px;
    background-image: url("../img/logo-desktop.png");
  }
}
