.man__block {
  display: block;
  width: $Screen-size*1px;
  margin-left: auto;
  margin-right: auto;
}

.man__main-block {
  background-color: white;
  overflow: hidden;
  min-width: 320px;
  max-width: 1200px;
  border-bottom: 1px solid #e5e5e5;
  margin-left: auto;
  margin-right: auto;
}

.man__headline {
  @extend .best-offers__headline;
  margin-top: 18px;
}

.man__fields-water {
  width: 230px;
  height: 58px;
  margin-right: auto;
  border:0;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  padding-left: 22px;
  background-color: #f2f2f2;
}

.man__fields-water:hover {
  background-color: #e5e5e5;
}

.man__fields-water:focus {
  background-color: rgba(255, 255, 255, 0);
}

.man__text {
  @extend .offers__text;
  margin-top: 23px;
  margin-left: 20px;
}

.man__fields-water:nth-of-type(1) {
  margin-left: 14px;
  width: 230px;
  height: 58px;
}

.man__fields-water:nth-of-type(2) {
  margin-left: 13px;
  width: 192px;
  height: 58px;
}

.man__fields-water:nth-of-type(3) {
  margin-left: 16px;
  width: 194px;
  height: 58px;
}

.man__block {
  margin-top: 22px;
}

.man__block:last-child {
  margin-bottom: 25px;
}

.man__block--2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
