.modal {
  overflow: hidden;
}

.modal__headline {
  font-size: 21px;
  text-align: center;
  line-height: 15px;
  color:black;
  height: 15px;
  margin-top: 0;
}

.modal__text {
  width: 296px;
  text-align: center;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 0;
  height: 67px;
}

.modal__button {
  font-family: PTSans, "Arial", sans-serif;
  font-size: 21px;
  heigth: 58px;
  line-height: 23px;
  color: white;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 0;
  @include button_details(17px, 47px, 19px, 47px, #81b3d2);
}

.modal__button:hover {
  background-color: #669ec0;
}

.modal__button:active {
  background-color: #5496bd;
}

.modal__Interested {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 33px;
  padding-bottom: 49px;
  background-color: white;
}
