.modal {
  overflow: hidden;
}

.modal__headline {
  @extend .advantage__headline;
  font-size: 21px;
  text-align: center;
  line-height: 15px;
  height: 15px;
  margin-top:0px;
}

.modal__text {
  width: 296px;
  text-align: center;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  @extend .advantage__text;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom:0px;
  height:67px;
}

.modal__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 0;
  @include button_color(17px, 47px, 19px, 47px, #81b3d2);
}

.modal__button:hover {
  background-color: #669ec0;
}

.modal__button:active {
  background-color: #5496bd;
}

.modal__Interested {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  background-color: white;
  padding-bottom: 49px;
}
