.modal__headline {
  @include font(18px, 700, #ffffff, center);
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 21px;
  text-align: center;
  line-height: 15px;
  color: #000000;
  height: 15px;
  margin-top: 0;
}

.modal__text {
  @include font(14px, 400, #ffffff, center);
  width: 262px;
  text-align: center;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 0;
  height: 67px;
}

.modal__button {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 21px;
  heigth: 58px;
  line-height: 23px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 0;
  padding: 17px 47px 19px 47px;
  background-color: #81b3d2;
}

.modal__button:hover {
  background-color: #669ec0;
}

.modal__button:active {
  background-color: #5496bd;
}

.modal__Interested {
  width: 320px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 33px;
  padding-bottom: 49px;
  background-color: #ffffff;
}

.modal__new-line {
  display: none;
}
