.benefits__heading,
.photo__headline {
  @include font(18px, 700, #000000, left);
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 10px;
}

.benefits__heading {
  font-family: "Myriad Pro", "Arial", sans-serif;
}

.benefits__sentence {
  font-family: "Myriad Pro", "Arial", sans-serif;
  @include font(14px, 400, #333333, left);
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 25px;

  &--last {
    width: 201px;
  }
}

.benefits__reasons--position {
  margin-top: 22px;
  display: flex;
  margin: 0;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  background-color: #ffffff;
}


.benefits__reasons-text {
  width: 100%;
  background-size: 39px 37px;

  &--housing {
    margin-right: 9px;
  }

  &--souvenirs {
    margin-right: 13px;
  }

  &--food {
    margin-right: 12px;
  }
}

.offers__icon {
  &--proptions-housing {
    width: 39px;
    height: 37px;
  }

  &--proptions {
    width: 32px;
    height: 38px;
  }
}

.benefits__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  max-width: 1012px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: 42px;
}

.benefits__reasons-icon--specialty-housing,
.benefits__reasons-icon--specialty-souvenirs,
.benefits__reasons-icon--specialty-food {
  margin-right: 30px;
}
