.offers__headline,
.photo__headline {
  @include font(18px, 700, #000000, left);
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 10px;
}

.offers__text {
  @include font(14px, 400, #333333, left);
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 25px;
}

.offers__reasons {
  display: flex;
  margin: 0;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;

  &--position {
    margin-top: 22px;
  }
}

.offers__reasons-icon {
  width: 39px;
  background-size: 39px 37px;

  &--housing {
    margin-right: 9px;
  }

  &--souvenirs {
    margin-right: 13px;
  }

  &--food {
    margin-right: 12px;
  }
}

.offers__icon {
  &--proptions-housing {
    width: 39px;
    height: 37px;
  }

  &--proptions {
    width: 32px;
    height: 38px;
  }
}

.offers__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  max-width: 1012px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  margin-bottom: 0;
  padding: 0;
}

.offers__reasons-icon--specialty-housing,
.offers__reasons-icon--specialty-souvenirs,
.offers__reasons-icon--specialty-food {
  margin-right: 30px;
}
