.main-nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.main-nav {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.page-header__picture,
.page-header__icon {
  width: 102px;
  height: 83px;
  margin-left:34%;
}

.page-header__icon {
  margin-left: 0px;
}

.page-header__link--sedona {
  margin-left:34%;
}

.main-nav__item {
  display: block;
  padding: 20px 0 18px 0;
  list-style-type: none;
  background-color: #81b3d2;
  text-align: center;
  width: 100%;
  height: 20px;
  text-transform: uppercase;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  line-height: 12px;
  height: 14px;

  &--main {
    border-top: 0;
  }
}

.main-nav__item:nth-child(3) {
  display: none;
}

.main-nav__item:hover {
  background-color: #669ec0;
}

.main-nav__link {
  @include font(18px, 700, white, center);
  text-decoration: none;
  width: auto;
}

.main-nav__item:active .main-nav__link {
  color: rgba(255, 255, 255, 0.3);
}

.page-header__logo {
  width: 320px;
  height: 56px;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 1);
}

.page-header__button {
  display: inline-block;
  margin-top: 17px;
  margin-left: 65*100%/320;
  @include block_background(23px, 21px, "../img/icon-menu.png");
  padding: 0px;
  border: 0px;
}

.main-nav__link--main {
  font-family: PTSans;
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  position: relative;
  top: -9px;
  margin-left:38%;
}

.main-nav__button--shut {
  border: 0px;
  width: 23px;
  height: 22px;
  padding: 0px;
  margin-left:25%;
  position: relative;
  top: -4px;
}
.page-header__painting
{
  width:100%;
  height:100%;
  background-color:rgba(255,255,255,0);
}

.main-nav__item--htmlacademy
{
  border-bottom:0px;
}
