.page-footer__item {
  display: block;
  width: 47px;
  height: 48px;
  background-color: #81b3d2;
  overflow: hidden;
}

.page-footer__info {
  width: 100%;
  text-align: center;
  margin-top: 41px;
}

.page-footer__info:nth-of-type(2),
.page-footer__info:nth-of-type(3) {
  display: flex;
  flex-direction: row;
}

.page-footer__wrapper:nth-of-type(2) {
  display: flex;
  flex-direction: row;
}

.footer__icon-active {
  display: none;
}

.page-footer__item:hover {
  background-color: #669ec0;
}

.page-footer__item:active {
  background-color: #5496bd;
}

.page-footer {
  overflow: hidden;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.page-footer__text {
  font-size: 21px;
  font-weight: 700;
  line-height: 16px;
  height: 15px;
  color: black;
  margin: 0;
}

.page-footer__item:first-child {
  margin-left: auto;
}

.page-footer__item:last-child {
  margin-right: auto;
}

.page-footer__item:nth-child(2) {
  margin-left: 6px;
  margin-right: 6px;
}

.footer__text {
  margin-bottom: 42px;
  line-height: 17px;
}

.page-footer__copyright {
  margin-top: 11px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 23px;
  @include font(14px, 400, black, left);
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  margin-top: 41px;
}

.page-footer__link {
  width: auto;
  height: auto;
}

.page-footer__link--htmlacademy {
  width: 27px;
  height: 34px;
  background: url("../../img/htmlacademy.png");
}

.page-footer__icon {
  width: 27px;
  height: 34px;
  background: url("../../img/academy.svg") no-repeat 0 0;
  background-size: 100% 100%;
}
