.page-footer__item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  list-style: none;
}

.page-footer__info {
  margin-left: auto;
  margin-right: auto;
  margin-top: 41px;
}

.page-footer__info:nth-of-type(2),
.page-footer__info:nth-of-type(3) {
  display: flex;
  flex-direction: row;
}

.page-footer__wrapper:nth-of-type(2) {
  display: flex;
  flex-direction: row;
}

.page-footer__item:active {
  background-color: #5496bd;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
}

.page-footer__text {
  font-size: 21px;
  font-weight: 700;
  line-height: 16px;
  height: 15px;
  color: #000000;
  margin: 0;
}

.page-footer__item:last-child {
  margin-right: auto;
}

.page-footer__copyright {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;

  @include font(14px, 400, #000000, left);
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-top: 41px;
  width: 150px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.page-footer__link--facebook {
  width: 47px;
  height: 48px;
}

.page-footer__link--htmlacademy {
  width: 27px;
  height: 34px;
  background: url("../img/logo-htmlacademy.svg");
  background-color: white;
  margin-left: 11px;
}

.page-footer__icon {
  width: 27px;
  height: 34px;
  background: url("../../img/academy.svg") no-repeat 0 0;
  background-size: 100% 100%;
}

.page-footer__sentence {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 100;
  line-height: 10px;
  color: #000000;
  margin-top: 11px;
}

.page-footer__link--twitter svg {
  margin-top: 17px;
  margin-left: 14px;
}

.page-footer__link--facebook svg {
  margin-top: 14px;
  margin-left: 20px;
}

.page-footer__link--YouTube svg {
  margin-top: 17px;
  margin-left: 13px;
}

.page-footer__item--facebook {
  margin-left: 6px;
  margin-right: 6px;
}
