.city__headline {
  margin-top:59px;
  @include font(PTSans,18px,700,white,center);
  text-transform: uppercase;
}
.city__number {
  margin-top:18px;
  @include font(PTSans,14px,400,white,center);
}

.city__text {
  margin-top:19px;
  @include font(Myriad Pro,14px,400,white,center);
  line-height:21px;
  text-transform: uppercase;
}

.city__wrapper {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  max-width:1200px;
  display:flex;
  flex-direction: row;
}
.city__block
{
  @include block_background(320px,211px,"../img/blue.png");
}
.city__block-picture
{
  @include block-background($Screen-size*1px,260px,"../img/city_1x.jpg");
}
