.video__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}

.video__picture {
  width: 320px;
  height: 201px;
}

.video__button {
  display: inline-block;
  border: 0;
  background-size: 100% 100%;
  padding: 0;
  font-size: 0;

  &--anew {
    width: 16px;
    height: 20px;
    background-color: #0000ff;
    background-image: url("../../img/replay.svg");
    position: relative;
    top: 22px;
  }

  &--cc {
    width: 32px;
    height: 20px;
    background-image: url("../../img/button_cc");
    position: relative;
    top: -17px;
    left: 117px;
  }

  &--enlarge-screen {
    width: 20px;
    height: 20px;
    position: relative;
    top: -17px;
    left: 137px;
  }
}

.video__roller {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  top: 19px;
  left: 58px;
}

.video__cover {
  display: block;
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: -30px;
  position: relative;
  top: -41px;
  left: 0;
}

.video__line {
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 22px;
  margin-top: 13px;
}

.video__options {
  background-color: #f2f2f2;
  width: 280px;
  height: 66px;
  margin-top: -4px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .video__cover {
    margin-top: 0;
    top: 0;
    margin-left: 39px;
    width: 389px;
    height: 100%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
  }

  .video__line {
    margin-top: 23px;
    margin-left: 0;
    width: 100%;
  }

  .video__wrapper {
    width: 100%;
    max-width: 1200px;
  }

  .video__picture {
    display: block;
    width: 648px;
    height: 499px;
    margin-left: auto;
    margin-right: auto;
  }

  .video__options {
    width: 648px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 0;
    position: relative;
    top: -66px;
  }

  .video__roller {
    top: 29px;
    left: 113px;
  }

  .video__button {
    &--anew {
      top: -23px;
      margin-left: 42px;
    }

    &--cc {
      top: -23px;
      left: 38px;
    }

    &--enlarge-screen {
      top: -23px;
      left: 65px;
    }
  }
}

@media (min-width: 1200px) {
  .video__picture {
    width: 800px;
    height: 500px;
  }

  .video__options {
    width: 800px;
  }

  .video__button {
    &--anew {
      margin-left: 35px;
    }

    &--cc {
      left: 38px;
    }

    &--enlarge-screen {
      left: 65px;
    }
  }

  .video__cover {
    margin-left: 40px;
    width: 540px;
  }

  .video__roller {
    left: 113px;
  }
}
