@media(min-width:1200px)
{
  .photo__block
  {
    &:nth-of-type(2),
    &:nth-of-type(3),
    &--4
    {
    display: inline-block;
    width:400px;
    margin-left:0;
    }
    &:nth-of-type(3)
    {
      margin-left:-4px;
    }
    &--4
    {
      margin-bottom:0;
    }
  }
    .features__block-photo
    {
        background:url("../img/../img/hill_3x.png")no-repeat;
    }
    .main-banner__wrapper
    {
        @include block_background(100%, 290px, "../img/mount_2x.png");
    }
}
