@media (min-width: 768px) {
  .main-nav__button {
    display: none;
  }

  .main-nav__picture {
    margin-left: 0;
  }

  .main-nav__link {
    margin-left: 0;
    font-size: 14px;
    color: black;
  }

  .main-nav__item {
    border: 0;
    background-color: #ffffff;
    text-align: center;

    &:nth-child(1) {
      width: 20%;
      order: -1;
    }

    &:nth-child(2) {
      width: 20%;
      order: -1;
    }

    &:nth-child(3) {
      width: 21%;
    }

    &:nth-child(4) {
      width: 19%;
    }

    &--logo {
      width: 20%;
      margin: 0;
      padding: 0;
      order: -1;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &--details{
      padding-bottom: 23px;
    }
  }

  .main-nav__item--logo .main-nav__picture {
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav {
    width: 100%;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
  }

  .greeting__wrapper {
    background-color: #72818c;
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 57px, 100% 100%;
    background-position: 50% 461px, 0 0;
    width: 100%;
    height: 518px;
  }

  .greeting__picture-text {
    width: 460px;
    height: 350px;
  }

  .benefits__wrapper {
    flex-direction: row;
    width: 100%;
    background-color: #ffffff;

    &--details
    {
      background-color: #eeeeee;
    }

  }
  .benefits__reasons {
    width: 33%;
  }

  .information-city__wrapper {
    width: 100%;
  }

  .benefits__wrap {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .benefits__reasons-painting {
    width: 67%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .benefits__reasons-sentence {
    width: 33%;
    height: 206px;
    padding-bottom: 0;
  }

  .benefits__picture {
    width: 67%;
  }

  .modal__Interested {
    width: 100%;
  }

  .modal__text {
    width: 435px;
  }

  .modal__new-line {
    display: block;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
  }

  .page-footer__info {
    margin-top: 51px;
    margin-left: 8%;
  }

  .page-footer__social {
    display: flex;
    padding: 0;
    align-content: space-between;
    margin-top: 36px;
  }

  .page-footer__copyright {
    margin-left: 16%;
  }

  .photo__benefits:first-child {
    width: 100%;
    max-width: 1200px;
  }

  .photo__link,
  .photo__picture {
    width: 100%;
  }

  .photo__row {
    display: flex;
    margin-top: 0;
  }

  .photo__row div {
    background-color: #625b57;
  }

  .photo__headline {
    margin-top: 21px;
    margin-left: 0;
    color: #ffffff;
  }

  .photo__info {
    margin-left: 0;
  }

  .photo__button {
    margin-top: 28px;
    margin-left: 0;
  }

  .photo__likes {
    margin-left: 10px;
    margin-top: 0;
  }

  .photo__wrapper {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .photo__benefits {
    padding: 0;
    border: 0;

    &:nth-child(1) {
      width: 648px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      display: inline-block;
    }

    &:nth-child(2) {
      width: 324px;
    }

    &:nth-child(3) {
      width: 324px;
      margin-left: -5px;
    }

    &--last {
      width: 648px;
    }
  }

  .photo__benefits--last .photo__link {
    width: 324px;
    margin-left: 0;
  }

  .photo__benefits--last .photo__row {
    width: 324px;
  }

  .photo__data--details {
    box-sizing: border-box;
    width: 26%;
    padding-left: 20px;
  }

  .photo__please--details {
    box-sizing: border-box;
    width: 74%;
    padding-left: 61%;
  }

  .photo__data--specialty {
    box-sizing: border-box;
    width: 63%;
    padding-left: 20px;
  }

  .photo__please--specialty {
    width: 25%;
    padding-left: 40px;
  }

  .photo__benefits:nth-child(4) {
    margin-top: -4px;
  }

  .benefits__reasons {
    flex-direction: column;
  }

  .benefits__reasons-icon {
    margin-right: 0px;
  }

  .benefits__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .benefits__heading,
  .benefits__sentence {
    text-align: center;
  }

  .benefits__sentence--last {
    margin-left: auto;
    margin-right: auto;
  }

  .benefits__icon {
    width: 72px;
    height: 72px;
  }

  .benefits__heading {
    font-size: 21px;
  }

  .benefits__sentence {
    width: 177px;
    margin-left: auto;
    margin-right: auto;
  }

  .benefits__sentence--last {
    width: 176px;
  }

  .benefits__reasons--disposition {
    order: 1;
  }

  .benefits__sentence--souvenirs {
    width: 180px;
  }

  .main-banner {
    display: block;
    width: 100%;
    height: 290px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    background-position: 54% 233px, 28% -228px;
    background-size: 1200px 57px, 1200px 518px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-banner__picture {
    width: 458px;
    height: 78px;
    padding-top: 43px;
  }

  .main-banner__picture-text {
    width: 458px;
    height: 78px;
    background-image: url("../img/");
  }

  .best-offers__wrapper {
    width: 100%;
    max-width: 1200px;
  }

  .benefits__headline {
    font-size: 21px;
    line-height: 26px;
    width: 121px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav__item--logo {
    height: 57px;
  }

  .benefits__head {
    font-size: 21px;
    text-align: center;
    width: 167px;
  }

  .benefits__proposal {
    width: 175px;
  }

  .benefits__reasons-painting {
    height: 251px;
  }

  .benefits__reasons--details:nth-child(1),
  .benefits__reasons--details:nth-child(2) {
    border-bottom: 0;
  }

  .information-city__headline {
    font-size: 21px;
    width: 429px;
  }

  .best-offers__headline {
    font-size: 30px;
  }

  .best-offers__text {
    width: 424px;
  }
}
